!!!
%html
  %head
    %title Flippit
    %link{"rel" => "stylesheet", "href" => asset_path('styles.css'), "type" => "text/css"}
    %script{"src" => "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{"src" => asset_path('application.js')}
  %body
    %header
      %div.wrapper
        %h1 Flippit
        %h2 (ノಠ益ಠ)ノ彡┻━┻
    %main
      %div.flip_it
        %input{type: "text"}
        %a It's flipping time!
