!!!
%html
  %head
    %title Flippit
    %link{"rel" => "stylesheet", "href" => asset_path('styles.css'), "type" => "text/css"}
    %script{"src" => asset_path('application.js')}
    %link{"rel" => "icon", "href" => asset_path('favicon.ico'), "type" => "image/x-icon"}
  %body
    %header
      %div.wrapper
        %h1 Flippit
        %h2 (ノಠ益ಠ)ノ彡┻━┻
    %main
      %div.flip_it
        %form
          %input{type: "text", "placeholder" => "¡ǝɯ dı|ɟ"}
        %div
          %a.flipper It's about flipping time!
          %a.share{"href"=>"#", "target" => "_blank"} Share it!

    %footer
      :markdown
        Created by [Jonathan Jackson](https://twitter.com/rondale_sc).  With help from
        [@camerondaigle](https://twitter.com/camerondaigle) and
        [@rwz](https://twitter.com/rwz). View source
        [here](https://github.com/rondale-sc/flippit)

:javascript
$(function(){
  new App.Flipper($('.flip_it'));
});
